.rssw-page.character-builder {


	.stage {
		display: flex;
		flex-direction: column;
		overflow: auto;
		height: 100%;
		width: 100%;
		
		.heading {
			flex-shrink: 0;
		}
		
		.details {
			display: flex;
			flex-direction: column;
			overflow: auto;
			height: 100%;
			width: 100%;
		}
		
		.text-block {
			position: relative;
			width: 300px;
			display: flex;
			flex-direction: column;
			align-content: stretch;
			align-items: stretch;
			margin-bottom: 17px;
			
			label {
				font-size: 1.6em;
				font-weight: 700;
			}
			
			input[type=text] {
				padding: 3px;
				width: 100%;
			}
			
			textarea {
				padding: 3px;
				min-height: 150px;
				width: 100%;
			}
		}
	}
	
	.fill {
		flex-grow: 5;
	}
	
	.creating {
		justify-content: center;
		align-content: center;
		align-items: center;
	}
	
	.complete {
		background-color: @rsDarkGreen;
		color: @rsLightGreen;
		cont-weight: 800;
		flex-shrink: 0;
		height: 50px;
	}
	
	.regress {
		background-color: @rsDarkRed;
		color: @rsLightRed;
		cont-weight: 800;
		flex-shrink: 0;
		height: 50px;
	}
}
