.rs-page.page-system {

	.information-container {
		padding: 10px;
	}

	h1 {
		color: @rsWhite;
	}

	table.display,
	.versions,
	.browser {
		margin: 0px 0px 15px 15px;

		.align-right {
			color: @rsLightBlue;
			font-weight: 900;
			font-size: 15px;
		}

		button.simple {
			margin: 0px;
		}
	}

	.pad-aligned {
		margin: 6px;
	}
}
