<div class="general-information">
	<rs-render-image class="profile-image" modes="wide" v-if="profile" :image="profile" :linked="record.linked?record:null"></rs-render-image>
	
	<div v-if="record.is_shop">
		<span class="fas fa-warehouse"></span>
		<span>A Shop</span>
	</div>
	
	<div v-if="description" v-html="description" class="record-description"></div>
	
	<div v-if="canDashboard(record)">
		<div class="control flex h">
			<button class="action direct" v-on:click="viewDashboard(false)">
				<span class="fas fa-tablet-android-alt"></span>
				<span>View Dashboard</span>
			</button>
			<button class="action direct short" v-on:click="viewDashboard(true)">
				<span class="fas fa-external-link-alt"></span>
			</button>
			<button class="action direct short" v-on:click="viewDashboard(true, true)">
				<span class="fas fa-external-link-alt rot180"></span>
			</button>
		</div>
	</div>
	
	<div v-if="relatedError" class="related-error">
		<h3>
			<span class="fas fa-exclamation-triangle rs-light-red"></span>
			<span>Related Error</span>
		</h3>
		<div class="rs-light-red" v-html="relatedError"></div>
	</div>
	
	<rs-render-image class="record-image" v-if="image" :image="image" :linked="record.linked?record:null"></rs-render-image>
	<div v-if="record.data" class="general-image">
		<img :src="record.data" />
	</div>
	
	<div class="properties">
		<div class="direct-properties" v-if="showDirectProperties()">
			<div class="property" v-for="property in keys" v-if="visible(property, record[property])">
				<div class="direct" v-if="!universe.indexes[property] && !referenceKeys[property]">
					<span class="key" v-if="knowledgeLink[property] || universe.indexes.knowledge.index[property + '_quicklink']">
						<a class="rendered-value" :data-id="knowledgeLink[property] || (property + '_quicklink')">{{prettifyPropertyName(property, record)}}</a>
					</span>
					<span class="key" v-if="!knowledgeLink[property] && !universe.indexes.knowledge.index[property + '_quicklink']">{{prettifyPropertyName(property, record)}}</span>
					<span class="divide">:</span>
					<span class="value" v-html="prettifyPropertyValue(property, record[property], record, universe)"></span>
					<span class="raw" v-if="displayRaw[property]">{{value}}</span>
				</div>
			</div>
		</div>
		<div class="inherit-relations" v-if="showInheritRelations()">
			<div class="property" v-for="property in keys" v-if="visible(property, record[property])">
				<div class="reference" v-if="universe.indexes[property] || referenceKeys[property]">
					<div class="reference-values" v-if="isArray(record[property]) && record[property].length">
						<div class="reference-heading">{{prettifyPropertyName(property, record).pluralize(true)}}</div>
						<div class="subreference" v-for="subrecord in record[property]" v-if="universe.indexes[referenceKeys[property] || property].lookup[subrecord._sourced || subrecord] && !universe.indexes[referenceKeys[property] || property].lookup[subrecord._sourced || subrecord].hidden">
							<div class="reference-heading" v-if="!collapsed">
								<span :class="universe.indexes[referenceKeys[property] || property].lookup[subrecord._sourced || subrecord]?universe.indexes[referenceKeys[property] || property].lookup[subrecord._sourced || subrecord].icon:''"></span>
								<span>{{universe.indexes[referenceKeys[property] || property].lookup[subrecord._sourced || subrecord]?universe.indexes[referenceKeys[property] || property].lookup[subrecord._sourced || subrecord].name:subrecord}}</span>
							</div>
							<rs-object-info v-if="!collapsed" :record="universe.indexes[referenceKeys[property] || property].lookup[subrecord._sourced || subrecord]" :universe="universe"></rs-object-info>
							<a v-if="collapsed && universe.indexes[referenceKeys[property] || property].lookup[subrecord._sourced || subrecord] && !universe.indexes[referenceKeys[property] || property].lookup[subrecord._sourced || subrecord].obscured" class="rendered-value" :data-id="universe.indexes[referenceKeys[property] || property].lookup[subrecord._sourced || subrecord].id">{{universe.indexes[referenceKeys[property] || property].lookup[subrecord._sourced || subrecord].name}}</a>
							<a v-if="collapsed && !universe.indexes[referenceKeys[property] || property].lookup[subrecord._sourced || subrecord]" class="rendered-value unknown">{{subrecord._sourced || subrecord}}[Unknown]</a>
						</div>
					</div>
					<div class="reference-values" v-if="!isArray(record[property]) && record[property] && record[property] && !record[property].hidden">
						<div class="reference-heading">{{prettifyPropertyName(property, record).capitalize()}}</div>
						<div class="subreference">
							<div class="reference-heading" v-if="!collapsed">{{universe.indexes[referenceKeys[property] || property].lookup[record[property]]?universe.indexes[referenceKeys[property] || property].lookup[record[property]].name:record[property]}}</div>
							<rs-object-info v-if="!collapsed && universe.indexes[referenceKeys[property] || property].lookup[record[property]] && !universe.indexes[referenceKeys[property] || property].lookup[record[property]].obscured" :record="universe.indexes[referenceKeys[property] || property].lookup[record[property]]" :universe="universe"></rs-object-info>
							<a v-if="collapsed && universe.indexes[referenceKeys[property] || property].lookup[record[property]] && !universe.indexes[referenceKeys[property] || property].lookup[record[property]].obscured" class="rendered-value" :data-id="universe.indexes[referenceKeys[property] || property].lookup[record[property]].id">{{universe.indexes[referenceKeys[property] || property].lookup[record[property]].name}}</a>
							<a v-if="collapsed && !universe.indexes[referenceKeys[property] || property].lookup[record[property]]" class="rendered-value unknown" >{{record[property]}}[Unknown]</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="section" v-if="equipped.length">
		<h3>Equipped Equipment</h3>
		<div class="general-list">
			<ul class="general-list">
				<li v-for="equipped_equipment in equipped">
					<a class="rendered-value" v-on:click="showInfo(equipped_equipment[1], base)">{{equipped_equipment[1].name}}</a>
					<span>On</span>
					<a class="rendered-value" v-on:click="showInfo(equipped_equipment[0], base)">{{equipped_equipment[0].name}}</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="section" v-if="base && relatedKnowledge.length">
		<h3>{{base.name}}'s Related Knowledge</h3>
		<div class="general-list">
			<ul class="general-list">
				<li v-for="knowledge in relatedKnowledge">
					<a class="rendered-value" v-on:click="showInfo(knowledge, base)">{{knowledge.name}}</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="section" v-if="record.related && record.related.length">
		<h3>Related Data</h3>
		<div class="general-list">
			<ul class="general-list">
				<li v-for="data in record.related" v-if="universe.index.lookup[data]">
					<a class="rendered-value" v-on:click="showInfo(universe.index.lookup[data], base)">{{universe.index.lookup[data].name}}</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="section" v-if="(record._type === 'location' || record._type === 'entity') && entities.length">
		<h3>Entities Here</h3>
		<div class="general-list" v-if="player && player.master">
			<ul class="general-list">
				<li v-for="entity in entities">
					<a class="rendered-value" :data-id="entity.id">{{entity.name}}</a>
				</li>
			</ul>
		</div>
		<div class="general-list" v-if="!player || !player.master">
			<ul class="general-list">
				<li v-for="entity in entities">
					<a class="rendered-value" v-if="isOwner(entity)" :data-id="entity.id">{{entity.name}}</a>
					<span class="data-value" v-else>{{entity.name}}</span>
				</li>
			</ul>
		</div>
	</div>
	
	<div v-if="record._type === 'ability'" class="control">
		<button class="action direct" v-if="canLearnAbility()" v-on:click="learnAbility(record.id)" :class="classByXP(record.xp_cost)">
			<span class="fad fa-globe-africa"></span>
			<span>Learn Ability ( </span>
			<span class="rs-darkorange">{{record.xp_cost}}</span>
			<span>XP )</span>
		</button>
		<button class="action direct" v-if="canForgetAbility()" v-on:click="forgetAbility(record.id)" :class="classByRequirements()">
			<span class="fad fa-globe-africa"></span>
			<span>Forget Ability ( +</span>
			<span class="rs-darkorange">{{record.xp_cost}}</span>
			<span>XP )</span>
		</button>
	</div>
	
	<div v-if="record._type && canTransfer()">
		<h3>Transfer {{record._type.capitalize()}}</h3>
		<select v-model="transfer_target" v-on:change="transferObject()">
			<option value="">Choose Target...</option>
			<option value="cancel">Cancel</option>
			<option disabled>--------------</option>
			<option v-if="canTransferToSelf()" :value="base.id">{{base.name}}</option>
			<option v-for="target in transfer_targets" :value="target.id">{{target.name}}</option>
			<option disabled>--------------</option>
			<option value="drop">Drop</option>
		</select>
	</div>
	
	<div v-if="canAttach()">
		<h3>Pass To Item</h3>
		<span v-if="record.hardpoints">Currently has {{record.item?record.item.length:0}} attachments of {{record.hardpoints}}</span>
		<span v-if="record.contents_max">Current Fill: {{calculatedEncumberance}} of {{record.contents_max}}</span>
		<select v-model="attach_target" v-on:change="attachObject()" v-if="attach_targets.length">
			<option value=""></option>
			<option value="cancel">Cancel</option>
			<option disabled>--------------</option>
			<option v-for="target in attach_targets" :value="target.id">{{target.name}}</option>
		</select>
		<div v-if="attach_targets.length === 0">
			<span class="fas fa-exclamation-triangle"></span>
			<span>No Viable Items</span>
		</div>
	</div>
	
	<div v-if="base && canMoveTo(base.id)">
		<h3>Travel</h3>
		<div class="control" v-if="canTravelTo(base.id)">
			<button class="action direct" v-on:click="travelToHere(base.id)">
				<span class="fad fa-globe-africa"></span>
				<span>Travel Here</span>
			</button>
		</div>
		<div class="control">
			<label>
				<span>Move Entity Here</span>
				<select v-model="movingEntity" v-on:change="moveEntityHere(movingEntity)">
					<option value="">{{movableEntities.length === 0?"None Available":""}}</option>
					<option v-for="e in movableEntities" v-if="!e.template && !e.inactive" :value="e.id">{{e.name}}</option>
				</select>
			</label>
		</div>
	</div>
	
	<div v-if="canUnequip()">
		<div class="control">
			<button class="action direct" v-on:click="unequip()">
				<span class="fas fa-unlink"></span>
				<span>Unequip from {{base.name}}</span>
			</button>
		</div>
	</div>
	
	<div v-if="canEquip() && !canUnequip()">
		<h3>Equip To</h3>
		<div class="control">
			<label>
				<select v-model="equipToSlot" v-on:change="equip(equipToSlot)">
					<option value="">Choose Slot</option>
					<option value="cancel">Cancel</option>
					<option disabled value="disabled">----------</option>
					<option v-for="slot in availableSlots" :value="slot.id">{{slot.name}}</option>
				</select>
			</label>
		</div>
	</div>
	
	<div v-if="note && player && player.master">
		<div class="info-section" v-if="(record._type === 'location' || record._type === 'entity') && hiddenEntities.length">
			<h3>Hidden or Obscured Here</h3>
			<ul class="general-list">
				<li v-for="entity in hiddenEntities">
					<a class="rendered-value" :data-id="entity.id">{{entity.name}}</a>
				</li>
			</ul>
		</div>
	
		<h3>Master Note</h3>
		 <div v-html="note"></div>
	</div>
	
	<div v-if="player && player.master && !options.noMaster" class="master-controls">
		<h3>Master Controls</h3>
	
		<div class="record-id" v-on:click="highlight($event)">
			<span>ID:</span>
			<input class="displayed-id" :value="record.id" />
		</div>
		
		<div class="control">
			<button class="action" v-on:click="hideRecord()">
				<span class="icon" :class="record.hidden?'far fa-check-square':'far fa-square'"></span>
				<span>Hidden</span>
			</button>
		</div>
		<div class="control">
			<button class="action" v-on:click="obscureRecord()">
				<span class="icon" :class="record.obscured?'far fa-check-square':'far fa-square'"></span>
				<span>Obscured</span>
			</button>
		</div>
		<div class="control">
			<button class="action" v-on:click="knownRecord()">
				<span class="icon" :class="record.must_know?'far fa-check-square':'far fa-square'"></span>
				<span>Must Know</span>
			</button>
		</div>
		<div class="control">
			<button class="action" v-on:click="screenRecord()">
				<span class="icon" :class="record.screen?'far fa-check-square':'far fa-square'"></span>
				<span>Screen</span>
			</button>
		</div>
		
		<div class="control flex h">
			<button class="action direct" v-on:click="editRecord(false)">
				<span class="fas fa-edit"></span>
				<span>Edit</span>
			</button>
			<button class="action direct short" v-on:click="editRecord(true)">
				<span class="far fa-external-link-alt"></span>
			</button>
			<button class="action direct short" v-on:click="editRecord(true, true)">
				<span class="fas fa-external-link-alt rot180"></span>
			</button>
		</div>
		
		<div class="control flex h" v-if="record._type === 'session'">
			<button class="action direct" v-on:click="setCurrentSession()">
				<span class="fas fa-edit"></span>
				<span>Set to this Session</span>
			</button>
		</div>
		
		<div class="control">
			<button class="action direct" v-if="record.restock_base" v-on:click="restockLocation()">
				<span class="icon" :class="restocking?'far fa-sync fa-spin':'far fa-inventory'"></span>
				<span>Restock Items</span>
			</button>
		</div>
		<div class="control" v-if="record._type === 'location'">
			<label>
				<span>Copy Entity to Here</span>
				<select v-model="copyToHere" v-on:change="copyEntityHere(copyToHere)">
					<option value="">Select Template...</option>
					<option v-for="e in availableTemplates.entity" v-if="e.template" :value="e.id">{{e.name}}</option>
				</select>
			</label>
		</div>
		<div class="control" v-if="record._type === 'location' || record._type === 'entity'">
			<div>
				<label>
					<span>Move Party Here</span>
					<select v-model="partyToMove" v-on:change="movePartyHere(partyToMove)">
						<option value=""></option>
						<option v-for="p in parties" v-if="p.active" :value="p.id">{{p.name}}</option>
					</select>
				</label>
			</div>
			<div>
				<label>
					<span>Move Entity Here</span>
					<select v-model="entityToMove" v-on:change="moveEntityHere(entityToMove)">
						<option value=""></option>
						<option v-for="e in universe.indexes.entity.listing" v-if="!e.template && !e.inactive" :value="e.id">{{e.name}}</option>
					</select>
				</label>
			</div>
		</div>
		
		<div class="info-section" v-if="partiesPresent.length">
			<h3>Parties Located Here</h3>
			<ul class="general-list">
				<li v-for="party in partiesPresent">
					<a class="rendered-value" :data-id="party.id">{{party.name}}</a>
				</li>
			</ul>
		</div>
		
	</div>
</div>
