.rs-component.rssw.component-party {


	button.action,
	button.info {
		color: @rsWhite;
		padding: 4px 7px;
		font-size: 16px;
		margin: 3px;
		background: transparent;
		border-radius: 5px;
		border: 1px solid @rsLightBlue;
		
		span {
			color: inherit;
		}
	}
}
