.rs-component {
	.rs-border {
		border-style: solid;
	}
	
	.rs-dashed {
		border-style: dashed;
	}
	
	.rs-border,
	.rs-dashed {
		&.light-red,
		&.lightRed {
			border-color: @rsLightRed !important;
		}
		&.red {
			border-color: @rsRed !important;
		}
		&.dark-red,
		&.darkRed {
			border-color: @rsDarkRed !important;
		}
		
		&.light-orange,
		&.lightOrange {
			border-color: @rsLightOrange !important;
		}
		&.orange {
			border-color: @rsOrange !important;
		}
		&.dark-orange,
		&.darkOrange {
			border-color: @rsDarkOrange !important;
		}
		
		&.light-yellow,
		&.lightYellow {
			border-color: @rsLightYellow !important;
		}
		&.yellow {
			border-color: @rsYellow !important;
		}
		&.dark-yellow,
		&.darkYellow {
			border-color: @rsDarkYellow !important;
		}
		
		&.light-green,
		&.lightGreen {
			border-color: @rsLightGreen !important;
		}
		&.green {
			border-color: @rsGreen !important;
		}
		&.dark-green,
		&.darkGreen {
			border-color: @rsDarkGreen !important;
		}
		
		&.light-blue,
		&.lightBlue {
			border-color: @rsLightBlue !important;
		}
		&.blue {
			border-color: @rsBlue !important;
		}
		&.dark-blue,
		&.darkBlue {
			border-color: @rsDarkBlue !important;
		}
		
		&.indigo {
			border-color: @rsLightBlue !important;
		}
		
		&.light-purple,
		&.lightPurple {
			border-color: @rsLightPurple !important;
		}
		&.purple {
			border-color: @rsPurple !important;
		}
		&.dark-purple,
		&.darkPurple {
			border-color: @rsDarkPurple !important;
		}
		
		&.white {
			border-color: @rsWhite !important;
		}
		&.black {
			border-color: @rsBlack !important;
		}
		&.gray, &.grey {
			border-color: @rsGray !important;
		}
		&.blue {
			border-color: @rsBlue !important;
		}
		&.green {
			border-color: @rsGreen !important;
		}
		&.yellow {
			border-color: @rsYellow !important;
		}
		&.red {
			border-color: @rsRed !important;
		}
		&.light-red {
			border-color: @rsLightRed !important;
		}
		&.purple {
			border-color: @rsPurple !important;
		}
		&.violet {
			border-color: @rsPurple !important;
		}
		&.transparent {
			border-color: transparent !important;
		}
		
		&.one {
			border-width: 1px !important;
		}
		&.two {
			border-width: 2px !important;
		}
		&.three {
			border-width: 3px !important;
		}
		
		&.bottom-one {
			border-width: 0px 0px 1px 0px;
		}
		
		&.bottom-two {
			border-width: 0px 0px 2px 0px;
		}
		
		&.bottom-three {
			border-width: 0px 0px 3px 0px;
		}
	}
	
	.rsbd-light-red,
	.rsbd-lightRed {
		border-color: @rsLightRed !important;
	}
	.rsbd-red {
		border-color: @rsRed !important;
	}
	.rsbd-dark-red,
	.rsbd-darkRed {
		border-color: @rsDarkRed !important;
	}
	
	.rsbd-light-orange,
	.rsbd-lightOrange {
		border-color: @rsLightOrange !important;
	}
	.rsbd-orange {
		border-color: @rsOrange !important;
	}
	.rsbd-dark-orange,
	.rsbd-darkOrange {
		border-color: @rsDarkOrange !important;
	}
	
	.rsbd-light-yellow,
	.rsbd-lightYellow {
		border-color: @rsLightYellow !important;
	}
	.rsbd-yellow {
		border-color: @rsYellow !important;
	}
	.rsbd-dark-yellow,
	.rsbd-darkYellow {
		border-color: @rsDarkYellow !important;
	}
	
	.rsbd-light-green,
	.rsbd-lightGreen {
		border-color: @rsLightGreen !important;
	}
	.rsbd-green {
		border-color: @rsGreen !important;
	}
	.rsbd-dark-green,
	.rsbd-darkGreen {
		border-color: @rsDarkGreen !important;
	}
	
	.rsbd-light-blue,
	.rsbd-lightBlue {
		border-color: @rsLightBlue !important;
	}
	.rsbd-blue {
		border-color: @rsBlue !important;
	}
	.rsbd-dark-blue,
	.rsbd-darkBlue {
		border-color: @rsDarkBlue !important;
	}
	
	.rsbd-indigo {
		border-color: @rsLightBlue !important;
	}
	
	.rsbd-light-purple,
	.rsbd-lightPurple {
		border-color: @rsLightPurple !important;
	}
	.rsbd-purple {
		border-color: @rsPurple !important;
	}
	.rsbd-dark-purple,
	.rsbd-darkPurple {
		border-color: @rsDarkPurple !important;
	}
	
	.rsbd-white {
		border-color: @rsWhite !important;
	}
	.rsbd-black {
		border-color: @rsBlack !important;
	}
	.rsbd-gray, .rsbd-grey {
		border-color: @rsGray !important;
	}
	.rsbd-blue {
		border-color: @rsBlue !important;
	}
	.rsbd-green {
		border-color: @rsGreen !important;
	}
	.rsbd-yellow {
		border-color: @rsYellow !important;
	}
	.rsbd-red {
		border-color: @rsRed !important;
	}
	.rsbd-light-red {
		border-color: @rsLightRed !important;
	}
	.rsbd-purple {
		border-color: @rsPurple !important;
	}
	.rsbd-violet {
		border-color: @rsPurple !important;
	}
	.rsbd-transparent {
		border-color: transparent !important;
	}
}