	
.calculated-result {
	color: #ec6d2e;
}

.rendered-value.red {
	color: @rsRed;
}

.rendered-value.orange {
	color: @rsOrange;
}

.rendered-value.yellow{
	color: @rsYellow;
}

.rendered-value.green {
	color: @rsGreen;
}

.rendered-value.blue {
	color: @rsBlue;
}

.rendered-value.purple {
	color: @rsPurple;
}
