
<div class="rs-component component-viewer" :class="renderState()">

	<div class="map" v-if="location && sourceImage" :style="'font-size: ' + scaledSize + 'px;'" v-wheel="wheeling" v-pinch.in="zoomOutOne" v-pinch.out="zoomOutOne">
		<div class="view" onexit="true" v-pan="pan">
			<div class="parchment" v-on:contextmenu.stop.prevent="openActions($event)">
				<div class="pointsOfInterest" v-if="pointsOfInterest.length && state.markers">
					<button class="scaled poi" :class="poiStyling(link)" v-if="poiNamed(link)" v-for="link in pointsOfInterest" :data-id="link.id" :style="'left:' + link.x + '%; top:' + link.y + '%;'" :key="link.id" v-on:click.stop.prevent="poiMenu(link)">
						<span class="poi-icon scaled" :class="poiClass(link)"></span>
						<span class="labeling scaled" v-if="link.label" :class="link.label && state.labels?'shown':'hidden'">{{link.label}}</span>
					</button>
				</div>
				<div class="coordinates" v-for="coordinate in coordinates" v-if="!coordinate.standalone">
					<span class="coordinate top left" :style="'width: ' + coordinate.x + '%; height: ' + coordinate.y + '%;' + (coordinate.color?'border-color: ' + coordinate.color + ';':'')"></span>
					<span class="coordinate bottom right" :style="'left: ' + coordinate.x + '%; width: ' + (100-coordinate.x) + '%; top: ' + coordinate.y + '%; height: ' + (100-coordinate.y) + '%;' + (coordinate.color?'border-color: ' + coordinate.color + ';':'')"></span>
				</div>
				<div class="coordinate-dots">
					<button class="dot" v-for="coordinate in coordinates" :style="'left: ' + coordinate.x + '%; top: ' + coordinate.y + '%;' + (coordinate.color?'background-color: ' + coordinate.color + ';':'')" v-on:click="dismissCoordinate(coordinate)"></button>
				</div>
				<div class="map-paths">
					<canvas v-for="loc in locales" :data-id="'locale:' + loc.id"></canvas>
				</div>
				<div class="actions" v-if="actions.open" :style="getActionMenuStyle()">
					<div class="actions-header">
						<span class="titling">
							{{actions.header}}
						</span>
						<button class="actions-close alert" v-on:click.stop.prevent="closeActions()">
							<span class="fas fa-times"></span>
						</button>
					</div>
					<div class="actions-options">
						<button class="option normal" v-for="option in actions.options" v-on:click.stop.prevent="fire(option, $event)">
							<span :class="option.icon || 'fas fa-chevron-square-right'"></span>
							<span>{{option.text}}</span>
						</button>
						<button class="option normal" v-if="state.path_fill" v-on:click.stop.prevent="fire(setNamePointOption, $event)">
							<span class="fal fa-code-commit"></span>
							<span>Set Name Point</span>
						</button>
						<button class="option normal" v-if="state.path_fill" v-on:click.stop.prevent="fire(addPointOption, $event)">
							<span class="fas fa-code-commit"></span>
							<span>Add Point</span>
						</button>
						<div class="generator flex h" v-if="state.generate_location">
							<input type="text" v-model="state.generate_location_name" v-on:keyup.enter="fire(menuItems.generateLocation, $event)"/>
							<button v-on:click="fire(menuItems.generateLocation, $event)" class="normal">
								<span :class="getGeneratedClass()"></span>
							</button>
						</div>
						<input type="text" v-model="state.alter" v-if="player.master"/>
					</div>
				</div>
				<img :src="sourceImage" draggable="false" />
			</div>
		</div>
	</div>


	<div class="menu" :class="menuOpen?'open':'closed'">
		<button class="control toggle" v-on:click="toggleMenu()">
			<!-- span class="rotational-icon fas fa-caret-square-down" :class="menuOpen?'fa-caret-square-up':'fa-caret-square-down'"></span -->
			<span class="rotational-icon fas fa-caret-square-down" :class="menuOpen?'rot180':''"></span>
		</button>
		<div class="menu-items flow-v">
			<div class="search flex h">
				<div class="text" :title="searchError">
					<input class="search-text" type="text" v-model="state.search" v-on:keyup.enter="searchMap(state.search)" v-on:keyup="filterPOIs(state.search)" v-on:keyup.escape="clearSearch()" v-on:keyup.esc="clearSearch()" :class="searchError?'search-error':''"/>
				</div>
				<button class="control action" v-on:click="togglePOIFiltering()" title="Hide locations that do not match from the display">
					<span class="icon" :class="state.poiFiltering?'fas fa-map-marker-slash':'fas fa-map-marker'"></span>
				</button>
				<button class="control action" v-on:click="searchMap(state.search)" title="Center on the first matching location found">
					<span class="icon far fa-search-location"></span>
				</button>
			</div>
			<div class="control-row flex h fill" v-for="row in menuItems">
				<button class="control grow-3" v-if="!row.length && row.length !== 0 && (!row.conditional || row.conditional())" v-on:click="processAction(row)" :class="row.action">
					<span class="icon" :class="row.icon"></span>
					<span class="text">{{row.text}}</span>
				</button>
				<button class="control grow-3" v-if="row.length" v-for="menuItem in row" v-on:click="processAction(menuItem)" :class="menuItem.action">
					<span class="icon" :class="menuItem.icon"></span>
					<span class="text">{{menuItem.text}}</span>
				</button>
			</div>
			<div class="flex h fill">
				<button class="control follow grow-3" v-on:click="processAction(menuItems.labelItem)">
					<span class="icon fal" :class="state.labels?'fa-check-square':'fa-square'"></span>
					<span class="text">{{menuItems.labelItem.text}}</span>
				</button>
				<button class="control follow grow-3" v-on:click="processAction(menuItems.markerItem)">
					<span class="icon fal" :class="state.markers?'fa-check-square':'fa-square'"></span>
					<span class="text">{{menuItems.markerItem.text}}</span>
				</button>
			</div>
			<div class="flex h fill">
				<button class="control follow grow-3" v-on:click="processAction(menuItems.followItem)">
					<span class="icon fal" :class="state.follow?'fa-check-square':'fa-square'"></span>
					<span class="text">{{menuItems.followItem.text}}</span>
				</button>
				<button class="control follow grow-3" v-on:click="processAction(menuItems.fullscreen)">
					<span class="icon fal" :class="state.fullscreen?'fa-check-square':'fa-square'"></span>
					<span class="text">{{menuItems.fullscreen.text}}</span>
				</button>
			</div>
			<select class="control master" v-model="state.master_view" v-if="player.master">
				<option value="">Player Character</option>
				<option value="master">Master</option>
				<option v-for="entity in universe.indexes.entity.listing" :value="entity.id">{{entity.name}}</option>
			</select>
			<select class="control master" v-model="state.generate_location" v-if="player.master">
				<option value="">Hide Creator</option>
				<option value="star-system">Making Star Systems</option>
				<option value="station">Making Stations</option>
				<option value="planet">Making Planets</option>
				<option value="moon">Making Moons</option>
				<option value="city">Making Cities</option>
				<option value="marker">Making Marker</option>
			</select>
			<select class="control master" v-model="state.path_fill" v-if="player.master">
				<option value="">No Modify</option>
				<option v-for="locale in locales" :value="locale.id">{{locale.name}}</option>
			</select>
		</div>
	</div>
	
	<div class="legend" :class="legendOpen?'open':'closed'" v-if="legendDisplayed && locales.length">
		<button class="control toggle" v-on:click="toggleLegend()">
			<span class="rotational-icon fas fa-caret-square-up" :class="legendOpen?'rot180':''"></span>
		</button>
		<div class="menu-items flow-v">
			<div class="legend-list flex v fill">
				<button class="control follow grow-3" v-for="locale in locales" v-on:click="toggleLocale(locale)">
					<span class="icon fal" :class="state.hidden_legend[locale.id]?'fa-square':'fa-check-square'"></span>
					<span class="icon far" :class="locale.contained?'fa-draw-polygon':'fa-horizontal-rule'" :style="'color: ' + locale.color + ';'"></span>
					<span class="text">{{locale.name}}</span>
				</button>
			</div>
		</div>
	</div>
</div>
