.rs-component.rs-image {
	width: 100%;
	text-align: center;
	
	&.general {
		margin-bottom: 10px !important;
		
		img {
			max-width: 100%;
		}
	}
	
	&.wide {
		img {
			width: 100% !important;
		}
	}
	
	&.high {
		img {
			height: 100% !important;
		}
	}
	
	&.left {
		text-align: left;
	}
	
	&.right {
		text-align: right;
	}
	
	&.linked {
		cursor: pointer;
	}
}