/* https://coolors.co/000000-dee6f7-85adfc-ff6868-96ff99 */
.rs-component .toggle-action {
  background: transparent;
  border: 1px solid #EAEFF9;
  border-radius: 5px;
  color: #EAEFF9;
}
.rs-component .actions {
  margin-top: 7px;
}
.rs-component .interactability {
  min-width: 30px;
  min-height: 30px;
  font-size: 24px;
  line-height: 30px;
}
.rs-component .visibility {
  padding: 4px;
}
.rs-component .flow-h {
  display: flex;
  flex-direction: row;
}
.rs-component .flow-h.wrap {
  flex-wrap: wrap;
}
.rs-component .flow-h.reversed {
  flex-direction: row-reversed;
}
.rs-component .flow-h.lefted {
  justify-content: flex-start;
}
.rs-component .flow-h.justified {
  justify-content: space-between;
}
.rs-component .flow-h.righted {
  justify-content: flex-end;
}
.rs-component .flow-h.centered {
  align-items: center;
}
.rs-component .flow-h.middled {
  align-content: center;
}
.rs-component .flow-h.inline {
  display: inline-flex;
}
.rs-component .flow-v {
  display: flex;
  flex-direction: column;
}
.rs-component .flow-v.wrap {
  flex-wrap: wrap;
}
.rs-component .flow-v.reversed {
  flex-direction: column-reversed;
}
.rs-component .flow-v.lefted {
  justify-content: flex-start;
}
.rs-component .flow-v.justified {
  justify-content: space-between;
}
.rs-component .flow-v.righted {
  justify-content: flex-end;
}
.rs-component .flow-v.centered {
  align-items: center;
}
.rs-component .flow-v.middled {
  align-content: center;
}
.rs-component .flow-v.inline {
  display: inline-flex;
}
.rs-component .grow-0 {
  flex-grow: 0;
}
.rs-component .grow-1 {
  flex-grow: 1;
}
.rs-component .grow-2 {
  flex-grow: 2;
}
.rs-component .shrink-0 {
  flex-shrink: 0;
}
.rs-component .shrink-1 {
  flex-shrink: 1;
}
.rs-component .shrink-2 {
  flex-shrink: 2;
}
.rs-component .flipped-h {
  transform: scaleX(-1);
}
.rs-component .flipped-v {
  transform: scaleY(-1);
}
.rs-component .aligned-left {
  text-align: left;
}
.rs-component .aligned-right {
  text-align: right;
}
.rs-component .aligned-center {
  text-align: center;
}
.rs-component .rs-border {
  border-style: solid;
}
.rs-component .rs-dashed {
  border-style: ;
}
.rs-component .rs-border.one {
  border-width: 1px;
}
.rs-component .rs-border.two {
  border-width: 2px;
}
.rs-component .rs-border.three {
  border-width: 3px;
}
.rs-component .rsbd-orange {
  border-color: #FF9560 !important;
}
.rs-component .rsbd-darkOrange {
  border-color: #ac6530 !important;
}
.rs-component .rsbd-blue {
  border-color: #617EB8 !important;
}
.rs-component .rsbd-lightBlue {
  border-color: #6f9bf5 !important;
}
.rs-component .rsbd-indigo {
  border-color: #6f9bf5 !important;
}
.rs-component .rsbd-white {
  border-color: #EAEFF9 !important;
}
.rs-component .rsbd-black {
  border-color: #000000 !important;
}
.rs-component .rsbd-gray,
.rs-component .rsbd-grey {
  border-color: #928282 !important;
}
.rs-component .rsbd-blue {
  border-color: #617EB8 !important;
}
.rs-component .rsbd-green {
  border-color: #32b736 !important;
}
.rs-component .rsbd-yellow {
  border-color: #b3b300 !important;
}
.rs-component .rsbd-red {
  border-color: #a91124 !important;
}
.rs-component .rsbd-light-red {
  border-color: #e43a3b !important;
}
.rs-component .rsbd-purple {
  border-color: #cc00ff !important;
}
.rs-component .rsbd-violet {
  border-color: #cc00ff !important;
}
.rs-component .rsbd-transparent {
  border-color: transparent !important;
}
.rs-component .rsbg-orange {
  background-color: #FF9560 !important;
}
.rs-component .rsbg-darkOrange {
  background-color: #ac6530 !important;
}
.rs-component .rsbg-blue {
  background-color: #617EB8 !important;
}
.rs-component .rsbg-lightBlue {
  background-color: #6f9bf5 !important;
}
.rs-component .rsbg-indigo {
  background-color: #6f9bf5 !important;
}
.rs-component .rsbg-white {
  background-color: #EAEFF9 !important;
}
.rs-component .rsbg-black {
  background-color: #000000 !important;
}
.rs-component .rsbg-gray,
.rs-component .rsbg-grey {
  background-color: #928282 !important;
}
.rs-component .rsbg-blue {
  background-color: #617EB8 !important;
}
.rs-component .rsbg-green {
  background-color: #32b736 !important;
}
.rs-component .rsbg-yellow {
  background-color: #b3b300 !important;
}
.rs-component .rsbg-red {
  background-color: #a91124 !important;
}
.rs-component .rsbg-light-red {
  background-color: #e43a3b !important;
}
.rs-component .rsbg-purple {
  background-color: #cc00ff !important;
}
.rs-component .rsbg-violet {
  background-color: #cc00ff !important;
}
.rs-component .rsbg-transparent {
  background-color: transparent !important;
}
.rs-component {
  margin: 0px !important;
}
.rs-component .fields .full {
  display: block;
  width: 100%;
}
.rs-component .fields .mb8 {
  margin-bottom: 8px;
}
.system-component .rs-darkOrange,
.rs-component .rs-darkOrange {
  color: #ac6530 !important;
}
.system-component .rs-orange,
.rs-component .rs-orange {
  color: #FF9560 !important;
}
.system-component .rs-lightOrange,
.rs-component .rs-lightOrange {
  color: #e0a65d !important;
}
.system-component .rs-darkblue,
.rs-component .rs-darkblue {
  color: #0c3a96 !important;
}
.system-component .rs-blue,
.rs-component .rs-blue {
  color: #617EB8 !important;
}
.system-component .rs-lightBlue,
.rs-component .rs-lightBlue {
  color: #6f9bf5 !important;
}
.system-component .rs-white,
.rs-component .rs-white {
  color: #EAEFF9 !important;
}
.system-component .rs-black,
.rs-component .rs-black {
  color: #000000 !important;
}
.system-component .rs-gray,
.rs-component .rs-gray,
.system-component .rs-grey,
.rs-component .rs-grey {
  color: #928282 !important;
}
.system-component .rs-green,
.rs-component .rs-green {
  color: #32b736 !important;
}
.system-component .rs-red,
.rs-component .rs-red {
  color: #a91124 !important;
}
.system-component .rs-yellow,
.rs-component .rs-yellow {
  color: #b3b300 !important;
}
.system-component .rs-light-red,
.rs-component .rs-light-red {
  color: #e43a3b !important;
}
.system-component .rs-darkpurple,
.rs-component .rs-darkpurple {
  color: #5a289e !important;
}
.system-component .rs-purple,
.rs-component .rs-purple {
  color: #cc00ff !important;
}
.system-component .rs-lightpurple,
.rs-component .rs-lightpurple {
  color: #b180f3 !important;
}
.system-component .rs-transparent,
.rs-component .rs-transparent {
  color: transparent !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
.calculated-result {
  color: #ec6d2e;
}
.rendered-value.red {
  color: #a91124;
}
.rendered-value.orange {
  color: #FF9560;
}
.rendered-value.yellow {
  color: #b3b300;
}
.rendered-value.green {
  color: #32b736;
}
.rendered-value.blue {
  color: #617EB8;
}
.rendered-value.purple {
  color: #cc00ff;
}
.rs-component {
  /* -------------- */
  /* -------------- */
}
.rs-component .ra {
  display: inline-block;
}
.rs-component .rot45 {
  transform: rotate(45deg);
}
.rs-component .rot90 {
  transform: rotate(90deg);
}
.rs-component .rot135 {
  transform: rotate(135deg);
}
.rs-component .rot180 {
  transform: rotate(180deg);
}
.rs-component .rot225 {
  transform: rotate(225deg);
}
.rs-component .rot270 {
  transform: rotate(270deg);
}
.rs-component .rot315 {
  transform: rotate(315deg);
}
.rs-component .rot360 {
  transform: rotate(360deg);
}
.rs-component .rot0.inverted {
  transform: scaleY(-1);
}
.rs-component .rot45.inverted {
  transform: rotate(45deg) scaleY(-1);
}
.rs-component .rot90.inverted {
  transform: rotate(90deg) scaleY(-1);
}
.rs-component .rot135.inverted {
  transform: rotate(135deg) scaleY(-1);
}
.rs-component .rot180.inverted {
  transform: rotate(180deg) scaleY(-1);
}
.rs-component .rot225.inverted {
  transform: rotate(225deg) scaleY(-1);
}
.rs-component .rot270.inverted {
  transform: rotate(270deg) scaleY(-1);
}
.rs-component .rot315.inverted {
  transform: rotate(315deg) scaleY(-1);
}
.rs-component .rot360.inverted {
  transform: rotate(360deg) scaleY(-1);
}
.rs-component .rotX60 {
  transform: rotateX(60deg);
}
.rs-component .rotY60 {
  transform: rotateY(60deg);
}
button.flat {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 1em;
}
#game .maTop10 {
  margin-top: 10px;
}
#game .maBot10 {
  margin-bottom: 10px;
}
body {
  background-image: linear-gradient(to bottom right, #171717, #171717, #2e2e2e);
  color: #EAEFF9;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
form {
  padding: 0px !important;
  border: 0px !important;
  margin: 0px !important;
}
#game {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: inherit;
}
.rs-page {
  padding: 0px !important;
  margin: 0px !important;
}
.rs-page.page-about h1 {
  color: #EAEFF9;
}
.rs-page.page-home {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: inherit;
}
.rs-page.page-home h1 {
  color: #EAEFF9;
}
.rs-page.page-home .login {
  display: flex;
  justify-content: center;
  width: 100%;
}
.rs-page.page-home .waiting {
  flex-direction: column;
  text-align: center;
  font-size: 30px;
}
.rs-page.page-home .system-display {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0px !important;
  border-width: 0px !important;
  padding: 0px !important;
  color: inherit;
  overflow: hidden;
}
.rs-page.page-home .system-view {
  overflow: auto;
  color: inherit;
  width: 100%;
  height: 100%;
}
.rs-page.page-noun_controls {
  display: block;
}
.rs-page.page-noun_controls .construction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  margin-left: 10px;
  overflow: hidden;
}
.rs-page.page-noun_controls .construction .building {
  width: 440px;
}
.rs-page.page-noun_controls .construction .output {
  background-color: #EAEFF9;
  min-width: 400px;
  max-width: 400px;
  width: 400px;
  padding: 5px;
  max-height: 100%;
  overflow: auto;
}
.rs-page.page-noun_controls .construction .output h1,
.rs-page.page-noun_controls .construction .output h2,
.rs-page.page-noun_controls .construction .output h3,
.rs-page.page-noun_controls .construction .output h4 {
  color: #000000;
}
.rs-page.page-noun_controls .construction .description {
  color: #000000;
}
.rs-page.page-noun_controls .construction .primary-action {
  background: transparent;
  transition: color 0.5s, border 0.5s;
  border: 1px solid #FF9560;
  color: #FF9560;
  cursor: pointer;
  margin: 0px 5px 0px 0px;
  padding: 5px;
}
.rs-page.page-noun_controls .construction .primary-action:active,
.rs-page.page-noun_controls .construction .primary-action:hover {
  border-color: #EAEFF9;
  color: #EAEFF9;
}
.rssw-page.character-builder .stage {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  width: 100%;
}
.rssw-page.character-builder .stage .heading {
  flex-shrink: 0;
}
.rssw-page.character-builder .stage .details {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  width: 100%;
}
.rssw-page.character-builder .stage .text-block {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  margin-bottom: 17px;
}
.rssw-page.character-builder .stage .text-block label {
  font-size: 1.6em;
  font-weight: 700;
}
.rssw-page.character-builder .stage .text-block input[type=text] {
  padding: 3px;
  width: 100%;
}
.rssw-page.character-builder .stage .text-block textarea {
  padding: 3px;
  min-height: 150px;
  width: 100%;
}
.rssw-page.character-builder .creating {
  justify-content: center;
  align-content: center;
  align-items: center;
}
.rssw-page.character-builder .complete {
  background-color: #166118;
  color: #96FF99;
  cont-weight: 800;
  flex-shrink: 0;
  height: 50px;
}
.rssw-page.character-builder .regress {
  background-color: #841213;
  color: #e43a3b;
  cont-weight: 800;
  flex-shrink: 0;
  height: 50px;
}
.rssw-page.page-dashboard {
  position: relative;
  display: block;
}
.rssw-page.page-dashboard .title {
  font-size: 20px;
  margin-bottom: 7px;
}
.rssw-page.page-dashboard .navigation-button {
  text-decoration: none;
  color: #FF9560;
}
.rssw-page.page-dashboard .navigation-button:active,
.rssw-page.page-dashboard .navigation-button:hover {
  color: #617EB8;
}
.rssw-page.page-dashboard .self {
  margin: 7px;
  font-size: 17px;
}
.rssw-page.page-dashboard .control {
  margin: 7px;
}
.rssw-page.page-dashboard .control .entities {
  display: flex;
  flex-direction: column;
}
.rssw-page.page-dashboard .control .entities .entity {
  margin: 5px 0px;
}
.rssw-page.page-dashboard .opened {
  position: absolute;
  display: block;
  transition: left 0.5s;
  left: 100%;
  z-index: 5;
  top: 0px;
}
.rssw-page.page-dashboard .opened.loaded {
  left: 0px;
}
.rs-page.rssw.page-map {
  position: relative;
  width: 100%
	height: 100%;
}
.rssw-page.page-universe {
  position: relative;
  display: block;
}
.rssw-page.page-universe .title {
  font-size: 20px;
  margin-bottom: 7px;
}
.rssw-page.page-universe .navigation-button {
  text-decoration: none;
  color: #FF9560;
}
.rssw-page.page-universe .navigation-button:active,
.rssw-page.page-universe .navigation-button:hover {
  color: #617EB8;
}
.rssw-page.page-universe .self {
  margin: 7px;
  font-size: 17px;
}
.rssw-page.page-universe .controls {
  display: flex;
  flex-direction: row;
}
.rssw-page.page-universe .control {
  display: inline-block;
  margin: 7px;
  min-width: 240px;
}
.rssw-page.page-universe .control .title .filter {
  width: 100%;
}
.rssw-page.page-universe .control .entities {
  display: flex;
  flex-direction: column;
}
.rssw-page.page-universe .control .entities .entity {
  margin: 5px 0px;
}
.rssw-page.page-universe .opened {
  position: absolute;
  display: block;
  transition: left 0.5s;
  left: 100%;
  z-index: 5;
  top: 0px;
}
.rssw-page.page-universe .opened.loaded {
  left: 0px;
}
.rssw-page.page-universe .create-npc {
  border-top: 2px solid #FF9560;
  padding-top: 5px !important;
  margin-top: 5px !important;
}
.rs-page.page-home {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: inherit;
}
.rs-page.page-home h1 {
  color: #EAEFF9;
}
.rs-page.page-home .login {
  display: flex;
  justify-content: center;
  width: 100%;
}
.rs-page.page-home .waiting {
  flex-direction: column;
  text-align: center;
  font-size: 30px;
}
.rs-page.page-home .system-display {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0px !important;
  border-width: 0px !important;
  padding: 0px !important;
  color: inherit;
}
.rs-page.page-home .system-view {
  overflow: auto;
  color: inherit;
  width: 100%;
  height: 100%;
}
.system-component.message-panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  right: 0px;
  background-color: black;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-top-left-radius: 10px;
  z-index: 50;
}
.system-component.message-panel .message-container {
  padding: 5px;
  border-bottom: 1px solid white;
}
.system-component.message-panel .message-container p {
  margin: 5px 0px;
}
.system-component.message-panel .spacing {
  display: block;
  width: 10px;
}
.system-component.component-cards {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.system-component.component-cards .card {
  position: absolute;
  background-color: white;
  color: black;
  border: 1px solid #FF9560;
  width: 300px;
  transition: left 0.5s, top 0.5s, border-color 0.5s;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
}
.system-component.component-cards .card.passed {
  top: -100% !important;
  left: -100% !important;
}
.system-component.component-cards .card h1,
.system-component.component-cards .card h2,
.system-component.component-cards .card h3,
.system-component.component-cards .card h4,
.system-component.component-cards .card h5,
.system-component.component-cards .card h6 {
  color: #000000;
}
.system-component.component-cards .card .information {
  overflow: hidden;
  flex-grow: 100;
  padding: 5px;
}
.system-component.component-cards .card.current .information {
  overflow: auto !important;
}
.system-component.component-cards .card .footer {
  bottom: 0px;
  left: 0px;
  height: 26px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: white;
  color: #000000;
  flex-shrink: 0;
  user-select: none;
}
.system-component.component-cards .card .footer button {
  background-color: white;
  color: #000000;
}
.system-component.component-cards .card .footer button.goto {
  min-width: 50%;
}
.system-component.component-cards .back {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 30px;
  background: #a91124;
}
@media only screen and (max-height: 500px) {
  .system-component.component-cards .card {
    max-height: calc( 100% - 30px );
  }
}
@media only screen and (min-height: 501px) {
  .system-component.component-cards .card {
    height: 500px;
  }
}
.rs-component.connect-component {
  max-width: 400px;
  border: 1px solid white;
  border-radius: 6px;
  padding: 8px;
}
.rs-component.rs-widget {
  position: relative;
  padding: 0px;
  margin: 0px;
  max-width: 550px;
  /*border: 1px solid white;*/
  border-radius: 6px;
  /*padding: 8px;*/
  min-height: 30px;
}
.rs-component.rs-widget .rs-containment {
  overflow: hidden;
  max-height: 2000px;
  transition: max-height 0.5s;
}
.rs-component.rs-widget.collapsed .rs-containment {
  max-height: 0px;
}
.rs-container {
  position: relative;
}
.rs-field.rs-autocomplete {
  position: relative;
}
.rs-field.rs-autocomplete .corpus {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 5;
  background-color: black;
  color: white;
  border-color: white;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 0px;
}
.rs-field.rs-autocomplete .corpus.open {
  max-height: 300px;
}
.rs-field.rs-autocomplete .corpus .option {
  white-space: nowrap;
  padding: 2px 4px;
  border-top: 1px solid #617EB8;
}
.rs-component.rs-field {
  color: inherit;
  margin: 3px 0px !important;
}
.rs-component.rs-field input,
.rs-component.rs-field button,
.rs-component.rs-field label,
.rs-component.rs-field table {
  color: inherit;
  background-color: inherit;
}
.rs-component.rs-field label {
  display: inline-block;
  text-align: right;
  min-width: 100px;
}
.rs-component.rs-field.label label span {
  font-size: 1.5em;
  text-decoration: underline;
}
.rs-component.rs-field select,
.rs-component.rs-field input {
  font-size: 13px;
  padding: 3px;
}
.rs-component.rs-field textarea,
.rs-component.rs-field input {
  user-select: all;
}
.rs-component.rs-field select {
  max-width: 160px;
}
.rs-component.rs-field textarea {
  width: 90%;
  min-height: 160px;
}
.rs-component.rs-field .checkbox-field {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 1.2em;
}
.rs-component.rs-field .multireference {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3px;
  border: 1px solid #928282;
  background: #EAEFF9;
  width: calc(100% - 10px);
}
.rs-component.rs-field .multireference .referenced {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #928282;
  background: #000000;
  border-radius: 5px;
  color: #EAEFF9;
  padding: 3px;
  margin: 3px;
}
.rs-component.rs-field .multireference .referenced .reference-display {
  max-width: 160px;
  padding: 0px 7px;
  overflow: hidden;
}
.rs-component.rs-field .multireference .referenced .info {
  color: #6f9bf5;
  line-height: 24px;
  font-size: 24px;
  height: 24px;
  width: 24px;
  padding: 0px;
  border: 0px;
  margin: 0px 8px 0px 0px;
}
.rs-component.rs-field .multireference .referenced .remove {
  color: #EAEFF9;
  line-height: 26px;
  font-size: 26px;
  height: 26px;
  width: 26px;
  padding: 0px;
  border: 0px;
  margin: 0px;
}
.rs-component.rs-image.general {
  width: 100%;
  margin-bottom: 10px !important;
}
.rs-component.rs-image.general img {
  max-width: 100%;
}
.rs-component.rs-image.linked {
  cursor: pointer;
}
.system-component.system-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  width: 380px;
  right: -380px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.5s, right 0.5s, top 0.5s;
  border-left: 1px solid black;
  background-color: #EAEFF9;
  z-index: 20;
}
.system-component.system-info.opened {
  right: 0px;
}
.system-component.system-info .main-bar {
  position: sticky;
  width: 100%;
  height: 40px;
  background-color: #928282;
  color: #000000;
  padding: 0px;
  display: flex;
  flex-direction: row;
  top: 0px;
}
.system-component.system-info .main-bar .titling {
  display: flex;
  flex-grow: 10;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  font-size: 22px;
  padding: 3px;
}
.system-component.system-info .main-bar .titling .icon {
  margin-right: 3px;
}
.system-component.system-info .main-bar .control {
  position: relative;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  cursor: pointer;
}
.system-component.system-info .main-bar .control.close {
  background: #a91124;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
}
.object-info {
  color: #000000;
  padding: 3px;
}
.object-info .reference-heading {
  font-weight: 800;
  font-size: 1.2em;
}
.object-info .reference-heading span {
  border-bottom: 1px solid #EAEFF9;
}
.object-info .subreference {
  padding-left: 10px;
  border-left: 1px solid #FF9560;
}
.object-info .rendered-value {
  -webkit-text-stroke-width: thin;
}
.object-info .linked-value {
  cursor: pointer;
}
.object-info .general-information p {
  margin: 0px 0px 17px 0px;
}
.object-info .general-information .general-image {
  width: 100%;
}
.object-info .general-information .general-image img {
  max-width: 100%;
}
.object-info a {
  color: #0055ff;
}
.object-info .record-id {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.object-info .record-id .displayed-id {
  transition: background-color 0.5s;
  max-width: 80%;
}
.object-info .control .icon {
  display: inline-block;
  margin: 0px 6px 0px 0px;
  text-align: center;
  width: 20px;
}
.object-info .control button.action {
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  padding: 4px;
  margin: 4px;
  border: 0px;
}
.object-info .control button.action:active,
.object-info .control button.actionfocus {
  color: #FF9560;
}
.object-info .control button.action:hover {
  background-color: #e0aef7;
  color: #617EB8;
}
.rs-component.rssw.component-character-info a {
  cursor: pointer;
}
.rs-component.rssw.component-character-info .property {
  max-width: 550px;
  color: #EAEFF9;
  margin: 3px;
}
.rs-component.rssw.component-character-info .divide {
  color: #EAEFF9;
  margin: 0px 0px 0px 2px;
}
.rs-component.rssw.component-character-info .icon {
  display: inline-block;
  width: 20px;
  text-align: center;
}
.rs-component.rssw.component-character-info .value {
  color: #6f9bf5;
  font-size: 1.1em;
}
.rs-component.rssw.component-character-info .description {
  min-height: 140px;
  min-width: 360px;
}
.rs-component.rssw.component-character-info button {
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0px;
  border: 0px;
  margin: 0px;
}
.rs-component.rssw.component-character-info button.action {
  color: white;
}
.rs-component.rssw.component-character-info .text-container {
  max-height: 550px;
  max-width: inherit;
  overflow: auto;
}
.rs-component.rssw.component-character-info .text-container textarea {
  width: 510px;
  height: 300px;
  max-height: 550px;
  max-width: inherit;
}
.system-component.system-menu {
  display: block;
  overflow: hidden;
  transition: width 0.5s, left 0.5s, top 0.5s;
  z-index: 10;
  top: 0px;
  height: 100%;
}
.system-component.system-menu.docked {
  position: absolute;
}
.system-component.system-menu.docked.standard {
  background-image: linear-gradient(to bottom right, #171717, #171717, #2e2e2e);
  color: white;
}
.system-component.system-menu.undocked {
  position: relative;
  background: transparent;
  color: inherit;
}
.system-component.system-menu.reduced {
  width: 70px;
}
.system-component.system-menu.full {
  width: 140px;
}
.system-component.system-menu.expanded {
  width: 180px;
}
.system-component.system-menu.collapsed {
  width: 36px;
}
.system-component.system-menu.collapsed .nav-label {
  max-width: 0px !important;
}
.system-component.system-menu.collapsed .nav-icon {
  padding-right: 0px !important;
}
.system-component.system-menu .navigation {
  display: flex;
  flex-direction: column;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  color: inherit;
  background: transparent;
}
.system-component.system-menu .navigation .navigation-item {
  display: flex;
  height: 36px;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  font-size: 18px;
  align-content: flex-start;
  align-items: center;
  background: transparent;
  border: 0px;
  color: inherit;
  text-align: left;
  text-decoration: none;
}
.system-component.system-menu .navigation .navigation-item.current {
  background: #ac6530;
  color: #EAEFF9;
}
.system-component.system-menu .navigation .navigation-item:hover {
  background: white;
  color: black;
}
.system-component.system-menu .navigation .navigation-item .nav-label {
  overflow: hidden;
  max-width: 500px;
  transition: max-width 0.5s;
}
.system-component.system-menu .navigation .navigation-item .navigation-contents {
  display: flex;
  align-content: flex-start;
  align-items: center;
  padding: 0px 3px;
  height: 36px;
  width: 100%;
  background: transparent;
  color: inherit;
  text-decoration: none;
  border: 0px;
  flex-shrink: 0;
  flex-grow: 0;
  font-size: 18px;
  cursor: pointer;
}
.system-component.system-menu .navigation .navigation-item .navigation-contents .nav-icon {
  padding-right: 10px;
  text-align: center;
  width: 24px;
}
.system-component.system-menu .navigation .separator {
  flex-grow: 100;
}
.rs-component.component-nouns .selection,
.rs-component.component-nouns .sourcing {
  margin: 4px 0px;
}
.rs-component.component-nouns .selection span,
.rs-component.component-nouns .sourcing span {
  display: inline-block;
  text-align: right;
  width: 50px;
}
.rs-component.component-nouns .selection select,
.rs-component.component-nouns .sourcing select {
  width: 360px;
}
.rs-component.component-nouns .building {
  border-top: 1px solid white;
  padding-top: 9px;
  margin-top: 9px;
}
.rs-component.component-nouns .building .simplified-editor {
  max-height: calc(100% - 100px);
  overflow: auto;
}
.rs-component.component-nouns .info-link {
  line-height: 16px;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.rs-component.component-nouns .advanced-editor textarea {
  min-height: 350px;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  tab-size: 4;
}
.rs-component.component-nouns .advanced-editor textarea.overlay {
  color: rgba(0, 0, 0, 0.4);
}
.rs-component.rssw.component-character-info .property {
  margin: 3px;
}
.rs-component.rssw.component-character-info .icon {
  display: inline-block;
  width: 20px;
  text-align: center;
}
.rs-component.rssw.component-character-info .value {
  color: #6f9bf5;
  font-size: 1.1em;
}
.rs-component.rssw.component-character-info .description {
  min-height: 140px;
  min-width: 360px;
}
.rs-component.rssw.component-character-info button {
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0px;
  border: 0px;
  margin: 0px;
}
.rs-component.rssw.component-character-board .container {
  min-width: 510px;
  justify-content: space-between;
}
.rs-component.rssw.component-character-board .stat {
  width: 90px;
  overflow: hidden;
  border: 1px solid #EAEFF9;
  border-radius: 5px;
  margin: 3px;
}
.rs-component.rssw.component-character-board .stat .label {
  text-align: center;
  width: 100%;
  margin: 2px 0px 0px 0px;
}
.rs-component.rssw.component-character-board .stat .value {
  width: 50%;
  background-color: transparent;
  color: #EAEFF9;
  flex-grow: 1;
}
.rs-component.rssw.component-character-board .stat .value.paired {
  border-bottom-right-radius: 5px;
  background-color: #ac6530;
  color: #EAEFF9;
}
.rs-component.rssw.component-character-board .stat .value.solo {
  background-color: transparent;
  width: 100%;
}
.rs-component.rssw.component-character-board .display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-size: 16px;
}
.rs-component.rssw.component-character-board select {
  color: inherit;
  background: transparent;
  border: 0px;
  font-size: inherit;
}
.rs-component.rssw.component-character-board select option {
  color: #000000;
}
.rs-component.rssw.component-character-info .property {
  margin: 3px;
}
.rs-component.rssw.component-character-info .icon {
  display: inline-block;
  width: 20px;
  text-align: center;
}
.rs-component.rssw.component-character-info .value {
  color: #6f9bf5;
  font-size: 1.1em;
}
.rs-component.rssw.component-character-info .description {
  min-height: 140px;
  min-width: 360px;
}
.rs-component.rssw.component-character-info button {
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0px;
  border: 0px;
  margin: 0px;
}
.rs-component.rssw.component-entity-history .history {
  display: block;
  position: relative;
  max-height: 300px;
  overflow: auto;
  padding: 7px;
}
.rs-component.rssw.component-entity-history .history .flow {
  display: inline-flex;
  flex-direction: column;
}
.rs-component.rssw.component-entity-history .entry {
  position: relative;
  display: inline-block;
  border-top: 1px solid #EAEFF9;
}
.rs-component.rssw.component-entity-history .entry a {
  color: #6f9bf5;
  cursor: pointer;
}
.rs-component.rssw.component-entity-history .entry .time {
  color: #FF9560;
}
.rs-component.rssw.component-character-info a {
  cursor: pointer;
}
.rs-component.rssw.component-character-info .property {
  max-width: 550px;
  color: #EAEFF9;
  margin: 3px;
}
.rs-component.rssw.component-character-info .divide {
  color: #EAEFF9;
  margin: 0px 0px 0px 2px;
}
.rs-component.rssw.component-character-info .icon {
  display: inline-block;
  width: 20px;
  text-align: center;
}
.rs-component.rssw.component-character-info .value {
  color: #6f9bf5;
  font-size: 1.1em;
}
.rs-component.rssw.component-character-info .description {
  min-height: 140px;
  min-width: 360px;
}
.rs-component.rssw.component-character-info button {
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0px;
  border: 0px;
  margin: 0px;
}
.rs-component.rssw.component-character-info button.action {
  color: white;
}
.rs-component.rssw.component-character-info .text-container {
  max-height: 550px;
  max-width: inherit;
  overflow: auto;
}
.rs-component.rssw.component-character-info .text-container textarea {
  width: 510px;
  height: 300px;
  max-height: 550px;
  max-width: inherit;
}
.leveling {
  margin: 3px 0px;
}
.leveling button {
  background-color: #000000;
  color: #EAEFF9;
  border: 1ps solid #EAEFF9;
  transition: background-color 0.5s, color 0.5s, border;
  cursor: pointer;
}
.leveling button:disabled {
  background-color: #841213;
  color: #EAEFF9;
  cursor: not-allowed;
}
.rs-component.rssw.component-character-skills .skill-list .titling {
  border-bottom: 1px solid #EAEFF9;
  padding-right: 15px;
}
.rs-component.rssw.component-character-skills .skill-list .icon {
  text-align: center;
  color: #FF9560;
}
.rs-component.rssw.component-character-skills .skill-list .name .naming {
  display: inline-block;
  overflow: hidden;
  width: 140px;
  transition: width 0.5s, padding 0.5s, border 0.5s;
  white-space: nowrap;
}
.rs-component.rssw.component-character-skills .skill-list .skill * {
  vertical-align: middle;
}
.rs-component.rssw.component-character-skills .skill-list .base {
  color: #FF9560;
  font-size: 0.8em;
}
.rs-component.rssw.component-character-skills .skill-list .stats .level {
  white-space: nowrap;
  margin: 5px 0px 3px 0px;
}
.rs-component.rssw.component-character-skills .skill-list .stats .level-block {
  display: inline-block;
  width: 14px;
  height: 6px;
  margin: 0px;
  border: 1px solid #617EB8;
  background-color: transparent;
  border-width: 1px 1px 1px 0px;
}
.rs-component.rssw.component-character-skills .skill-list .stats .level-block.first {
  border-left-width: 1px;
}
.rs-component.rssw.component-character-skills .skill-list .stats .level-block.acquired {
  background-color: #EAEFF9;
}
.rs-component.rssw.component-character-skills .skill-list .stats .dice {
  margin: 0px 2px;
}
.rs-component.rssw.component-character-skills.no-names .name span {
  padding: 0px !important;
  border: 0px !important;
  width: 0px !important;
}
.rs-component.rssw.component-character-skills.no-names .icon {
  text-align: right;
}
.rs-component.rssw.component-character-skills label {
  display: inline-block;
}
.rs-component.rssw.component-character-stats .stats {
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  min-width: 510px;
  justify-content: space-between;
}
.rs-component.rssw.component-character-stats .stats label {
  display: inline-block;
}
.rs-component.rssw.component-character-stats .stats .stat {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 70px;
  border: 1px solid #EAEFF9;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
}
.rs-component.rssw.component-character-stats .stats .stat .bubble {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 30px;
  width: 50px;
  background-color: #EAEFF9;
  border: 1px solid #617EB8;
  border-radius: 30px;
}
.rs-component.rssw.component-character-stats .stats .stat .value {
  color: #000000;
  font-size: 20px;
}
.rs-component.rssw.component-ship-stats {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}
.rs-component.rssw.component-ship-stats .icon {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.rs-component.rssw.component-ship-stats .icon * {
  vertical-align: middle;
}
.rs-component.rssw.component-ship-stats .icon-bubble {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.rs-component.rssw.component-ship-stats .picture img {
  width: 300px;
}
.rs-component.rssw.component-ship-stats .data .stats .stat {
  font-size: 28px;
  align-items: center;
  margin: 3px 0px;
}
.rs-component.rssw.component-ship-stats .data .stats .stat .icon-bubble {
  height: 30px;
  width: 30px;
  border: 1px solid #928282;
  border-radius: 17px;
  font-size: 20px;
  vertical-align: middle;
}
.rs-component.rssw.component-ship-stats .data .stats .stat .value {
  margin-left: 5px;
}
.rs-component.rssw.component-ship-stats .mounts {
  justify-content: space-between;
}
.rs-component.rssw.component-ship-stats .mounts .icon-bubble {
  border: 1px solid #928282;
  border-radius: 14px;
  height: 26px;
  line-height: 26px;
  width: 26px;
  flex-shrink: 0;
}
.rs-component.rssw.component-ship-stats .mounts .icon-bubble .ship-icon {
  color: #EAEFF9;
}
.rs-component.rssw.component-ship-stats .mounts .slots {
  justify-content: center;
  flex-grow: 9;
}
.rs-component.rssw.component-ship-stats .mounts .slots .slot {
  line-height: 26px;
  vertical-align: middle;
}
.rs-component.rssw.component-ship-stats .mounts .points {
  line-height: 18px;
  border: 1px solid #EAEFF9;
  padding: 3px 6px;
  border-radius: 16px;
  text-align: left;
  position: relative;
  flex-shrink: 0;
}
.rs-component.rssw.component-ship-stats .mounts .points .icon {
  color: #EAEFF9;
  font-size: 0.7em;
}
.system-component.table-controls {
  display: flex;
  position: relative;
  flex-direction: row;
}
.system-component.table-controls .filtering {
  position: relative;
  display: block;
}
.system-component.table-controls .filtering input {
  position: relative;
  padding: 3px 26px 3px 3px;
  line-height: 26px;
  height: 26px;
}
.system-component.table-controls .filtering .search-icon {
  position: absolute;
  color: #000000;
  right: 2px;
  top: 2px;
  line-height: 24px;
  font-size: 22px;
  height: 22px;
  width: 22px;
}
.system-component.table-controls .controls {
  display: flex;
  position: relative;
  flex-direction: row;
}
.system-component.table-paging {
  display: flex;
  position: relative;
  flex-direction: row;
}
.system-component.table-paging .index-page {
  position: relative;
  display: block;
  min-width: 32px;
  font-size: 16px;
  padding: 6px;
  margin: 0px 7px;
  border: 1px solid #EAEFF9;
  border-radius: 5px;
  transition: color 0.5s, background-color 0.5s, margin 0.5s;
}
.system-component.table-paging .first-page {
  border: 1px solid #FF9560;
  margin-right: 5px !important;
}
.system-component.table-paging .current-page {
  background-color: #FF9560;
  margin: 0px 17px;
}
.system-component.table-paging .last-page {
  border: 1px solid #FF9560;
  margin-left: 5px !important;
}
.system-component.table-index {
  display: inline-block;
  position: relative;
  user-select: none;
  min-width: 360px;
  color: white;
  overflow: hidden;
}
.system-component.table-index table {
  position: relative;
  color: #EAEFF9;
  z-index: 6;
}
.system-component.table-index table.bounded {
  overflow: hidden;
}
.system-component.table-index table.unbounded {
  border-collapse: collapse;
}
.system-component.table-index table.unbounded tbody tr {
  padding: 6px 0px;
  border-bottom: 1px solid #d4d5d8;
}
.system-component.table-index table button.table-content {
  background: transparent;
  margin: 0px;
  padding: 4px;
  font-size: 15px;
  border: 0px;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  z-index: 5;
}
.system-component.table-index table th {
  text-align: left;
  background-color: #000000;
  white-space: nowrap;
  color: inherit;
}
.system-component.table-index table th * {
  color: inherit;
  position: relative;
  z-index: 5;
}
.system-component.table-index table td {
  position: relative;
  color: inherit;
}
.system-component.table-index table td.notification {
  color: #FF9560;
  font-size: 20px;
}
.system-component.table-index table td * {
  color: inherit;
}
.system-component.table-index table td tbody {
  overflow: hidden;
}
.system-component.table-index table td .highlight {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0px;
  left: 0px;
}
.system-component.table-index table td .highlight.starting:before {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 100%;
  content: '*';
  color: transparent;
  background-image: linear-gradient(to right, #97a5ff, transparent);
  opacity: 0.3;
  z-index: 3;
}
.system-component.table-index table td .highlight.ending:before {
  position: absolute;
  display: block;
  top: 0px;
  left: calc(-500px + 100%);
  width: 500px;
  height: 100%;
  content: '*';
  color: transparent;
  background-image: linear-gradient(to right, transparent, #97a5ff);
  opacity: 0.3;
  z-index: 3;
}
.system-component.table-index table td .crosshair {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0.4;
  top: 0px;
  left: 0px;
}
.system-component.table-index table td:hover .crosshair {
  z-index: 2;
}
.system-component.table-index table td:hover .crosshair:before {
  position: absolute;
  display: block;
  top: 0px;
  left: -200px;
  width: calc(100% + 400px);
  height: 100%;
  content: '*';
  color: transparent;
  background-image: linear-gradient(to right, transparent, #ffc33c, transparent);
  /*background: @tableCrosshair;*/
  opacity: inherit;
  z-index: 2;
}
.system-component.table-index table td:hover .crosshair:after {
  position: absolute;
  display: block;
  top: -200px;
  left: 0px;
  height: calc(100% + 400px);
  width: 100%;
  content: '*';
  color: transparent;
  background-image: linear-gradient(transparent, #ffc33c, transparent);
  /*background: @tableCrosshair;*/
  opacity: inherit;
  z-index: 2;
}
.system-component.table-index table tr.record-selected .crosshair:before {
  background-image: linear-gradient(to right, transparent, #97a5ff, transparent) !important;
}
.system-component.table-index table tr.record-selected .crosshair:after {
  background-image: linear-gradient(transparent, #97a5ff, transparent) !important;
}
.system-component.table-index table .additional {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.system-component.table-index table .additional > * {
  position: relative;
  display: block;
  z-index: 15;
  margin-left: 7px !important;
  padding: 5px;
}
.system-component.table-index table .additional > *:hover {
  z-index: 15;
}
.rs-component.component-viewer {
  position: relative;
  height: 100%;
  width: 100%;
}
.rs-component.component-viewer.fullscreen {
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
}
.rs-component.component-viewer .map {
  position: relative;
  touch-action: none;
  user-select: none;
  width: 100%;
  height: 100%;
}
.rs-component.component-viewer .map .barrier {
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 4;
}
.rs-component.component-viewer .map .view {
  position: relative;
  overflow: hidden;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: black;
}
.rs-component.component-viewer .map .view .coordinates {
  position: absolute;
  background: transparent;
  z-index: 3;
  height: 100%;
  width: 100%;
}
.rs-component.component-viewer .map .view .coordinates .coordinate {
  position: absolute;
  background: transparent;
}
.rs-component.component-viewer .map .view .coordinates .coordinate.top {
  top: 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: red;
}
.rs-component.component-viewer .map .view .coordinates .coordinate.left {
  left: 0px;
  border-right: 1px solid red;
}
.rs-component.component-viewer .map .view .coordinates .coordinate.bottom {
  border-top: 1px solid red;
}
.rs-component.component-viewer .map .view .coordinates .coordinate.right {
  border-left: 1px solid red;
}
.rs-component.component-viewer .map .view .coordinate-dots {
  position: absolute;
  background: transparent;
  height: 100%;
  width: 100%;
  z-index: 6;
}
.rs-component.component-viewer .map .view .coordinate-dots .dot {
  background-color: red;
  border-radius: 10px;
  margin-left: -5px;
  margin-top: -5px;
  padding: 0px;
  height: 10px;
  width: 10px;
}
.rs-component.component-viewer .map .view .crosshair {
  position: absolute;
  background: transparent;
  z-index: 3;
}
.rs-component.component-viewer .map .view .crosshair.x {
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  left: 0px;
  top: 0px;
  width: 30%;
  height: 30%;
}
.rs-component.component-viewer .map .view .crosshair.y {
  border-left: 1px solid red;
  border-top: 1px solid red;
  left: 30%;
  top: 30%;
  width: 70%;
  height: 70%;
}
.rs-component.component-viewer .map .view .dot {
  position: absolute;
  left: calc( 30% - 4px );
  top: calc( 30% - 4px );
  border-radius: 5px;
  width: 9px;
  height: 9px;
  background-color: red;
  z-index: 2;
}
.rs-component.component-viewer .map .view .parchment {
  position: absolute;
  z-index: 1;
  transition: width 0.5s, height 0.5s;
}
.rs-component.component-viewer .map .view .parchment img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.rs-component.component-viewer .map .view .parchment .poi {
  position: absolute;
  margin-left: -10px;
  border-radius: 40px;
  z-index: 50;
  padding: 3px;
  min-height: 30px;
  min-width: 30px;
  cursor: pointer;
  margin-top: -10px;
  color: #FF9560;
  text-align: center;
  /*
					margin-top: -10px;
					opacity: .5;
					background: red;
					*/
  background-color: #000000;
}
.rs-component.component-viewer .map .view .parchment .poi > * {
  color: inherit;
}
.rs-component.component-viewer .map .view .parchment .poi:hover {
  background: rgba(18, 33, 146, 0.6);
  /*opacity: .5;*/
}
.rs-component.component-viewer .map .view .parchment .poi a {
  text-decoration: none;
}
.rs-component.component-viewer .map .view .parchment .poi .readout {
  text-align: left;
}
.rs-component.component-viewer .map .view .parchment .poi .labeling {
  position: absolute;
  top: 0px;
  left: calc(100% + 10px);
  color: #EAEFF9;
  font-weight: 900;
  background-color: black;
  white-space: nowrap;
}
.rs-component.component-viewer .map .actions {
  position: absolute;
  z-index: 100;
  background-color: black;
  border: 2px solid #FF9560;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.rs-component.component-viewer .map .actions button {
  border: 0px;
  cursor: pointer;
  color: #EAEFF9;
  transition: color 0.5s, background-color 0.5s;
}
.rs-component.component-viewer .map .actions button.normal {
  background-color: #000000;
}
.rs-component.component-viewer .map .actions button.normal:hover {
  color: #000000;
}
.rs-component.component-viewer .map .actions button.alert {
  background-color: #a91124;
}
.rs-component.component-viewer .map .actions button.alert:hover {
  color: #a91124;
}
.rs-component.component-viewer .map .actions button:hover {
  background-color: #EAEFF9;
}
.rs-component.component-viewer .map .actions input {
  color: #000000;
  padding: 3px;
}
.rs-component.component-viewer .map .actions .actions-header {
  display: flex;
  flex-direction: row;
  color: #EAEFF9;
  font-size: 18px;
}
.rs-component.component-viewer .map .actions .actions-header .titling {
  font-size: 1.3em;
  padding-left: 7px;
}
.rs-component.component-viewer .map .actions .actions-header span {
  line-height: 26px;
  flex-grow: 10;
  color: inherit;
}
.rs-component.component-viewer .map .actions .actions-header .heading {
  line-height: 26px;
  font-size: 18px;
}
.rs-component.component-viewer .map .actions .actions-header .actions-close {
  flex-grow: 1;
  font-size: 22px;
  height: 26px;
  width: 26px;
}
.rs-component.component-viewer .map .actions .actions-options {
  flex-direction: column;
  display: flex;
}
.rs-component.component-viewer .map .actions .actions-options button.option {
  border-bottom: 3px solid transparent;
  text-align: left;
  padding: 4px 7px;
  margin: 5px;
}
.rs-component.component-viewer .map .actions .actions-options button.option span.fas,
.rs-component.component-viewer .map .actions .actions-options button.option span.far,
.rs-component.component-viewer .map .actions .actions-options button.option span.fal {
  display: inline-block;
  position: relative;
  width: 16px;
}
.rs-component.component-viewer .map .actions .actions-options button.option:hover {
  border-bottom: 3px solid blue;
}
.rs-component.component-viewer .menu {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  flex-direction: column;
  width: 40px;
  min-height: 40px;
  max-height: 40px;
  transition: width 0.5s, max-height 0.5s;
  overflow: hidden;
  z-index: 100;
  border: 1px solid #EAEFF9;
  border-radius: 5px;
  background: #000000;
  color: #EAEFF9;
}
.rs-component.component-viewer .menu button {
  background: transparent;
  border: 0px;
  padding: 0px;
  margin: 0px;
  line-height: 40px;
  height: 40px;
  flex-shrink: 0;
  color: inherit;
}
.rs-component.component-viewer .menu button:active,
.rs-component.component-viewer .menu button:hover {
  background-color: #EAEFF9;
  color: #000000;
  cursor: pointer;
}
.rs-component.component-viewer .menu .search {
  white-space: nowrap;
}
.rs-component.component-viewer .menu.open {
  max-height: 500px;
  width: 200px;
}
.rs-component.widget-controls {
  position: absolute;
  right: 0px;
  top: 0px;
}
.rs-component.widget-controls .toggle {
  display: block;
  height: 30px;
  width: 30px;
  background: #000000;
  border: 1px solid #FF9560;
  color: #FF9560;
  transition: border 0.5s, color 0.5s;
}
.rs-component.widget-controls .toggle:active,
.rs-component.widget-controls .toggle:hover {
  border: 1px solid #EAEFF9;
  color: #EAEFF9;
}
.rs-component.widget-controls .toggle span {
  transition: transform 0.5s;
}
