.system-component.table-controls {
	display: flex;
	position: relative;
	flex-direction: row;
	
	.filtering {
		position: relative;
		display: block;
		
		input {
			position: relative;
			padding: 3px 26px 3px 3px;
			line-height: 26px;
			height: 26px;
		}
		
		.search-icon {
			position: absolute;
			color: @rsBlack;
			right: 6px;
			top: 6px;
			
			line-height: 24px;
			font-size: 22px;
			height: 22px;
			width: 22px;
		}
	}
	
	.controls {
		display: flex;
		position: relative;
		flex-direction: row;
		
		.ctrl {
			
		}
		
		.options {
		}
	}

}