<div class="rssw-page page-universe">
	<div v-if="!$route.params.oid">
		<div class="title">
			Galactic Index
			<button class="fas fa-sync" v-on:click="resetHeaders()">Headers</button>
		</div>
		
		<div class="controls rs-component flex h wrap">
			<div class="rs-component index">
				<div class="controls">
					<rs-table-controls class="index" :universe="universe" :corpus="corpus" :user="player" :index="state.activeIndex?universe.indexes[state.activeIndex]:universe.index" :state="state" v-on:action="processAction"></rs-table-controls>
					
					<select v-model="target">
						<option value="">No Target</option>
						<option disabled value="div">-- Entity Divide --</option>
						<option v-for="en in listing.entity" :value="en.id">{{en.name}}</option>
						<option disabled value="div">--- Item Divide ---</option>
						<option v-for="it in listing.item" :value="it.id" v-if="!it.template">{{it.name}}</option>
						<option disabled value="div">--- Room Divide ---</option>
						<option v-for="it in listing.room" :value="it.id" v-if="!it.template">{{it.name}}</option>
						<option disabled value="div">-- Player Divide --</option>
						<option v-for="pl in listing.player" :value="pl.id">{{pl.name}}</option>
					</select>
					<select v-model="command" v-on:change="processCommand(command)" v-if="showCommands()">
						<option value="">Choose Action</option>
						<option disabled value="div">-- Dashboards --</option>
						<option value="dashboard-ships">Dashboard: Ships</option>
						<option disabled value="div">-- Entities --</option>
						<option value="spawn">Spawn Template Entities</option>
						<option disabled value="div">-- Items --</option>
						<option value="give" v-if="target">Give Items</option>
						<option value="take" v-if="target">Take Items</option>
						<option disabled value="div">-- Knowledge --</option>
						<option value="grant-knowledge" v-if="target">Grant Knowledge</option>
						<option value="forget-knowledge" v-if="target">Forget Knowledge</option>
						<option disabled value="div">-- Records --</option>
						<option value="obscure">Obscure Record</option>
						<option value="unobscure">Unobscure Record</option>
						<option disabled value="div">-- Clean --</option>
						<option value="drop">Delete Objects</option>
					</select>
					
					<select v-model="state.activeIndex">
						<option value>All</option>
						<option v-for="index in availableIndexes" :value="index">{{index}}</option>
					</select>
					<select v-model.number="state.paging.per">
						<option v-for="spread in getSpread()" :value="spread">{{spread}}</option>
					</select>
					<select v-model="state.filterTemplate">
						<option value="shown">Shown</option>
						<option value="only">Only</option>
						<option value="out">Out</option>
					</select>
				</div>
				<rs-table class="index" :universe="universe" :user="player" :corpus="corpus" :index="state.activeIndex?universe.indexes[state.activeIndex]:universe.index" :headers="state.headers" :state="state"></rs-table>
				<rs-table-paging class="index" :universe="universe" :user="player" :index="state.activeIndex?universe.indexes[state.activeIndex]:universe.index" :state="state"></rs-table-paging>
			</div>
		
			<div class="control entity-list">
				<div class="title">
					<input class="filter" v-model="state.search" />
				</div>
				<div class="entities">
					<router-link class="entity navigation-button" v-for="entity in universeEntities" :to="'/universe/' + entity.classification + '/' + entity.id" :key="entity.id" v-if="filtered(entity)">
						<span class="link-icon" :class="entity.icon || 'fas fa-user-circle'"></span>
						<span class="link-label">{{entity.name}}</span>
					</router-link>
					<router-link class="entity navigation-button create-npc" to="/construct/character">
						<span class="link-icon fas fa-user-plus"></span>
						<span class="link-label">Construct NPC</span>
					</router-link>
				</div>
			</div>
			<div class="control difficulty-dice">
				<div class="output flex h wrap">
					<rssw-dice-result :universe="universe" :user="user" class="roll-container rolled current" :roll="rolling"></rssw-dice-result>
					<button class="roll-container rolled" v-for="rolled in history" v-on:click="dismissRolled(rolled)">
						<rssw-dice-result :universe="universe" :user="user" class="rolling-viewed" :roll="rolled"></rssw-dice-result>
					</button>
				</div>
				<button class="roll-container rolling" v-on:click="rollDifficulty(diff)" v-for="diff in difficulties">
					<rssw-dice-view :universe="universe" :user="user" class="rolling-view" :roll="difficulty[diff]" :labeling="diff + ' [' + count[diff] + ']'"></rssw-dice-view>
				</button>
				<button class="roll-container rolling" v-on:click="clearRolls(true)">
					Clear Rolls
				</button>
				<select class="roll-container rolling" v-model="state.historyLength">
					<option v-for="len in maxLength" :value="len">{{len}}</option>
				</select>
			</div>
		</div>
	</div>
	
	<router-view class="system-view opened" :universe="universe" :user="player" :class="$route.params.oid?'loaded':''"></router-view>
</div>
