.rssw-page.page-universe {
	position: relative;
	display: block;

	.title {
		font-size: 20px;
		margin-bottom: 7px;
	}
	
	.navigation-button {
		text-decoration: none;
		color: @rsOrange;
		
		&:active,
		&:hover {
			color: @rsBlue;
		}
	}

	.self {
		margin: 7px;
		font-size: 17px;
	}
	
	.controls {
		display: flex;
		flex-direction: row;
		
		button.selections {
			min-width: 48px;
		}
	}
	
	.control {
		display: inline-block;
		margin: 7px;
		min-width: 240px;
		
		.title {
			.filter {
				width: 100%;
			}
		}
		
		.entities {
			display: flex;
			flex-direction: column;
			
			.entity {
				margin: 5px 0px;
			}
		}
	}
	
	.opened {
		position: absolute;
		display: block;
		transition: left .5s;
		left: 100%;
		z-index: 5;
		top: 0px;
		
		&.loaded {
			left: 0px;
		}
	}
	
	.create-npc {
		border-top: 2px solid @rsOrange;
		padding-top: 5px !important;
		margin-top: 5px !important;
	}
}
