<div class="rs-component rssw component-character-skills flow-v" :class="{'no-names':state.hideNames}">
	<div class="filter flow-v inline">
		<label v-if="!state.hideFilter">
			<span>Filter Skills</span>
			<input type="text" v-model="state.search" />
		</label>
		<div class="leveling skill" v-if="!state.hideLeveling">
			<label>
				<span>Level Skill</span>
				<select v-model="leveling">
					<option value="">{{leveling === ""?"[ Select a Skill ]":"Clear"}}</option>
					<option value="_" disabled>----------</option>
					<option v-for="skill in levelSkills" :value="skill.id">{{skill.name}}</option>
				</select>
			</label>
			<button v-if="leveling" v-on:click="viewSkill(leveling)">
				<span class="fas fa-info-circle rs-light-blue"></span>
			</button>
			<button v-if="leveling" v-on:click="leveling = ''">
				<span class="fas fa-ban rs-light-red"></span>
			</button>
			<button class="level up" v-on:click="levelSkill(leveling, 1)" v-if="leveling" :disabled="getXPCost(leveling, 1) > character.xp">
				<span class="fas fa-plus-square"></span>
				<span>XP: {{getXPCost(leveling, 1)}}</span>
			</button>
			<button class="level down" v-on:click="levelSkill(leveling, -1)" v-if="leveling">
				<span class="fas fa-minus-square"></span>
				<span>XP: {{getXPCost(leveling, -1)}}</span>
			</button>
		</div>
	</div>
	
	<div class="skill-container flow-h">
		<div class="skill-container">
			<div class="skill-list general flow-v">
				<h3 class="titling">
					<span class="fas fa-tools"></span>
					<span>General Skills</span>
				</h3>
				<rssw-skill-section :universe="universe" :character="character" named="general" :state="state" :user="user" v-on:touched="skillTouched($event)" v-on:rolltouched="skillRollTouched($event)" v-on:nametouched="skillNameTouched($event)"></rssw-skill-section>
			</div>
		</div>
		
		<div class="skill-container">
			<div class="skill-list combat flow-v">
				<h3 class="titling">
					<span class="fas fa-swords"></span>
					<span>Combat Skills</span>
				</h3>
				<rssw-skill-section :universe="universe" :character="character" named="combat" :state="state" :user="user" v-on:touched="skillTouched($event)" v-on:rolltouched="skillRollTouched($event)" v-on:nametouched="skillNameTouched($event)"></rssw-skill-section>
			</div>
			
			<div class="skill-list ship flow-v">
				<h3 class="titling">
					<span class="fad fa-location-arrow"></span>
					<span>Piloting Skills</span>
				</h3>
				<rssw-skill-section :universe="universe" :character="character" named="piloting" :state="state" :user="user" v-on:touched="skillTouched($event)" v-on:rolltouched="skillRollTouched($event)" v-on:nametouched="skillNameTouched($event)"></rssw-skill-section>
			</div>
			
			<div class="skill-list knowledge flow-v">
				<h3 class="titling">
					<span class="fas fa-brain"></span>
					<span>Knowledge Skills</span>
				</h3>
				<rssw-skill-section :universe="universe" :character="character" named="knowledge" :state="state" :user="user" v-on:touched="skillTouched($event)" v-on:rolltouched="skillRollTouched($event)" v-on:nametouched="skillNameTouched($event)"></rssw-skill-section>
			</div>
			
			<div class="skill-list custom flow-v">
				<h3 class="titling">
					<span class="fas fa-cogs"></span>
					<span>Custom Skills</span>
				</h3>
				<rssw-skill-section :universe="universe" :character="character" named="custom" :existing="customSkills" :state="state" :user="user" v-on:touched="skillTouched($event)" v-on:rolltouched="skillRollTouched($event)" v-on:nametouched="skillNameTouched($event)"></rssw-skill-section>
			</div>
			
			<div class="skill-list custom flow-v">
				<h3 class="titling">
					<span class="fas fa-drafting-compass"></span>
					<span>Subskills</span>
				</h3>
				<rssw-skill-section :universe="universe" :character="character" named="subskill" :existing="subSkills" :state="state" :user="user" v-on:touched="skillTouched($event)" v-on:rolltouched="skillRollTouched($event)" v-on:nametouched="skillNameTouched($event)"></rssw-skill-section>
			</div>
		</div>
	</div>
</div>
