.rs-component.rssw.component-character-stats {


	.stats {
		display: inline-flex;
		flex-direction: row;
		text-align: center;
		min-width: 510px;
		justify-content: space-between;
		
		label {
			display: inline-block;
		}
		
		.stat {
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: center;
			align-items: center;
			width: 70px;
			border: 1px solid @rsWhite;
			border-radius: 5px;
			padding: 3px;
			margin: 3px;
			
			.bubble {
				display: flex;
				justify-content: center;
				align-content: center;
				align-items: center;
				height: 30px;
				width: 50px;
				background-color: @rsWhite;
				border: 1px solid @rsBlue;
				border-radius: 30px;
			}
			
			.value {
				color: @rsBlack;
				font-size: 20px;
			}
			
			.label {
				
			}
		}
	}
}
