.rs-component.rs-master-results {
	overflow: auto;

	.rssw-dice-result {
		border: 1px solid @rsBlue;
		border-radius: 4px;
		padding: 2px;
		margin: 2px;
	}
	
	.rssw-entity-summary,
	.rs-entity-summary {
		max-width: 200px;
	}
}
