<div class="rs-component connect-component">
	<div class="heading">
		<span class="heading-icon"></span>
	</div>
	<form class="fields">
		<table>
			<tr>
				<td>
					<label class="full align-right" for="login-username">
						<span class="field-text">Username</span>
					</label>
				</td>
				<td>
					<input id="login-username" type="text" v-enter="connect" v-model="store.username" />
				</td>
			</tr>
			<tr>
				<td>
					<label class="full align-right" for="login-passcode">
						<span class="field-text">Passcode</span>
					</label>
				</td>
				<td>
					<input id="login-passcode" type="password" v-enter="connect" v-model="passcode" :placeholder="getPasscodePlaceHolder()"/>
				</td>
			</tr>
			<tr>
				<td>
					<label class="full align-right" for="login-address">
						<span class="field-text">Address</span>
					</label>
				</td>
				<td>
					<input id="login-address" type="text" v-enter="connect" v-model="store.address" />
				</td>
			</tr>
		</table>
		<div class="actions">
			<button class="primary-action" v-on:click="connect()">
				<span class="action-icon fas fa-sign-in"></span>
				<span class="action-text">Connect</span>
			</button>
			<button class="toggle-action" v-on:click="store.secure = !store.secure">
				Secure?
				<span class="far" :class="store.secure?'fa-check-square':'fa-square'"></span>
			</button>
		</div>
		
	</form>
</div>